*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(228,202,168); /* #E4CCA8 */
    color: #000040;
    border-bottom: 4px solid #000040;
}
.gallery img{
    width: 300px;
    max-width: 350px;
    height: 300px;
}